body
{
    background-image: url(../Files/backg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
header {
    background-color:rgba(66, 124, 231, 0.685);
    color: white;
    text-align: center;
    font-family: 'Comic Sans MS';
    padding: 10px;
    margin: -8px -8px 30px -8px;
         }
footer {
    border-top: 2px solid  #4a9bf1;
    color: black;
    margin: 30px auto 0 auto;
    text-align: center;
    padding: 5px;
    width: 80%;
   font-family: myFirstFont ;
    clear: both;
         }
h3 {
 color: white;
 font-family: myFirstFont;
    }
section {
    display: block;
    width: 90%;
    margin: auto;
    text-align: center;
        }
   figure {
    height: 300px;
    width: 360px;
    border: 8px solid  #4a9bf1;
    border-radius: 5px;
    background-color: rgba(110, 176, 247, 0.424);
    padding: 5px;
    margin: 20px;
    float: left;
    box-shadow: 0px 2px 7px rgba(0,0,0,0.2);
        }   
   figure .flowImg {
    overflow: hidden;
    height: 280px;
    text-align: center;
        }
    figure img {
    height: 100%;
        }
    figure figcaption {
        text-align: center;
        font-size: medium;
        color: black;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
         }
    
           @media (max-width: 500px) {
            section {
            width: 95%;
            margin: 8px auto;
            }
            figure {
            width: 90%;
            }
           }
    @font-face {
 font-family: myFirstFont;
 src: url('../Files/fonts/stylo_.ttf');
}
h1
{
    font-family:  myFirstFont;
    padding-right: 150px;
}

ul
{
    background-color: rgb(135, 188, 235);
    height: 30px;
    border: solid white;
    width: 100px;
    float: left;
}
a:link, a:visited 
{
    
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    font-family: fantasy;
    
}
a:hover
{
    color: whitesmoke; 
}
   