body
{
    background-image: url(../Files/hisback.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
article
{
    background-color: rgba(240, 248, 255, 0.395);
    min-width: 800px;
    width: 80%;
    margin: -20px auto;
    padding: 20px 40px;
}
.firstp
{
    float: left;
    width: 33.33%;
    padding: 1px;
}
p
{
text-align: justify;
font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.seconp
{
    float: right;
    width: 33.33%;
    padding-right: 90px;
    padding-bottom: 15px;
  
}
.pop
{
    margin-top: 220px;
}
.lege
{
    margin-top: 20px;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
header
{
    font-family: fantasy;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}
h3
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
}
ul
{
    background-color: rgba(128, 128, 128, 0.605);
    height: 25px;
    border: solid white;
    width: 100px;
    float: left;
}
a:link, a:visited 
{
    
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    font-family: fantasy;
    
}
a:hover
{
    color: whitesmoke; 
}
@media (max-width: 500px) {
    section {
    width: 95%;
    margin: 8px auto;
    }
    img {
    width: 95%;
    }
    article{
        width: 90%;
        margin: 8px auto;
        }
   }