body
{
    background-color: rgb(182, 205, 224);
    background-image: url(../Files/index1.jpg);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
}
header
{
    text-align: center;
    font-size: x-large;
    font-family: fantasy;
    border: 10px solid rgba(127, 187, 189, 0.719);
    margin-left: 450px;
    margin-right: 450px;
    margin-top: 150px;
    text-shadow: 2px 3px rgba(127, 187, 189, 0.382);
    background-color: rgba(127, 187, 189, 0.719);
}
a:link, a:visited 
{
    
    background-color: #2eb1a470;
    color: rgb(0, 0, 0);
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: fantasy;
    border: 10px solid rgba(127, 187, 189, 0.719);
}
ul
{
    text-align: center;
    margin-right: 500px;
}
a:hover
{
    color: whitesmoke; 
}
iframe
{
    border: solid 5px #2eb1a470;
    margin-left: 777px;
    margin-top: 30px;
}
@media (max-width: 500px) {
    section {
    width: 90%;
    }
    iframe{
    width: 90%;
    margin-left: 50px;
    }
    header{
    width: 90%;
    margin-left: 40px;
    }
   }