body
{
    background-image: url(../Files/contactme.jpg);
    background-attachment: fixed;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
} 
 .back
 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: 20px;
    color: black;
 }
 a:link, a:visited 
{
    
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    font-family: fantasy;
    letter-spacing: 1px;
}
a:hover
{
    color: rgba(245, 245, 245, 0.564); 
}
header
      {
        text-align: center;
        font-size: 2em;
        color: rgb(248, 226, 226);
        font-family: fantasy;
        letter-spacing: 2px;
      }
      section{
        width: 500px;
        margin: 10px auto;
      }
      footer{
        text-align: center;
        font-size: 8pt;
        color:rgb(0, 0, 0);
        margin-top: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1em;
        background-color: rgba(128, 128, 128, 0.7);
        border: solid 1px white;
        padding: 5px;
      }
      form{
        text-align: left;
        margin: 0 auto;
        width: 500px;
        color: rgb(255, 255, 255);
        line-height: 1.5em;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }
      legend{
        background-color: rgb(172, 172, 172);
        border-radius: 5px;
        padding:5px 10px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        color: rgb(54, 54, 54);
        border:solid 1px white;
      }
      fieldset{
        background-color:rgba(128, 128, 128, 0.7);
        border-radius: 5px;
        padding:5px 30px 15px 30px;
        margin-left: -30px;
      }
      .SendTD{
        text-align: center;
        font-style: italic;
        font-family: fantasy;
        font-size: 14px;
        color: white;
        letter-spacing: 1px;
      }
      .btn{
        background-color: rgb(172, 172, 172);
        color: rgb(0, 0, 0);
        padding: 5px 20px;
        margin: 0px 20px;
        border:3px outset;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
      }
      .btn:hover{
        color: white;
      }

    textarea{
        min-height: 20px;
        max-height: 200px;
        min-width: 490px;
        max-width: 490px;
    }
    input, select,textarea{
        padding: 2px 5px;
        font-size: 1em;
        margin:5px;    
    }
    ul
{
    display: inline-block;
    width: 120px;
    height: 20px;
    border: 3px solid #ffffff;
    margin: 5px;
    border-radius: 3px;
    line-height: 30px;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.7);
    padding: 5px;
    font: 12pt arial, verdana;
    color: #fffde7;
}